:root {
    --min-height-value:
    calc(100vh - 6em);
} 

/* Header style*/
header {
    background-color: rgb(109, 255, 141);
    height: 3em;
}

header.row>.col {
    display: flex;
    /* padding: 0; */
    align-items: center;
}
header.row>:first-child {
    display:flex;
    justify-content: flex-start;
}




/* Main style*/
main {
    justify-content: center;
    align-items: center;
    min-height: var(--min-height-value);
    background-color: rgb(205, 255, 216);
}

.login-title {
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5em;
}

#formulario {
    display:flex;
    align-items: center;
    justify-content: center;
}



#login-form, #signup-form {
    background-color: rgb(109, 255, 141);
    display:flex;
    align-items: center;
    justify-content: center;
}

/* .form-inputs {
    display:flex;
    align-items: center;
    justify-content: center;
} */
.form-group {
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 4rem;
}

.col-form-label {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
    color: #0d6efd;
    font-size: 2rem;
}

#login-form>a, #signup-form>a {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display:flex;
    align-items: center;
    justify-content: center;
}

#login-form>a:hover {
    text-decoration: none;
  }

#signin-text {
    display:flex;
    align-items: center;
    justify-content: center;
}



/* Footer style*/
footer {
    display: flex;
    align-items: center;
    background-color: rgb(109, 255, 141);
    height: 3em;
}

footer>div{
    display:flex;
    justify-content: space-evenly;
}

footer>div>a>i:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #F1C40F;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }

footer>div>a>i:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}
  
@media (max-width: 576px) {
    .col-form-label {
        justify-content: left;
    }
    .login-title {
        padding-bottom: 0;
    }
}
